<!-- Main Wrapper -->
<div class="main-wrapper">
  <!--Dashbord Student -->
  <div class="page-content">
      <div class="container">
          <div class="row">
              <!-- Profile Details -->
              <div class="col-xl-9 col-md-8">
                  <div class="settings-widget profile-details">
                      <div class="settings-menu p-0">
                          <div class="profile-heading">
                              <h3>My Feedbacks</h3>
                              <p>You have full control to manage your own Feedbacks</p>
                          </div>
                          <!-- Iterate over feedbacks and display each one -->
                          <div *ngFor="let feedback of feedbacks" class="course-group mb-0 d-flex">
                              <div class="course-group-img d-flex align-items-center">
                                  <a href="instructor-profile.html"><img src="assets/img/feedback.jpg" alt="" class="img-fluid"></a>
                                  <div class="course-name">
                                      <h4><a href="instructor-profile.html">{{ feedback.reclamationCategory }}</a></h4>
                                      <p>{{ feedback.title }}</p>
                                      <p>{{ feedback.body }}</p>
                                  </div>
                              </div>
                              <div class="profile-share d-flex align-items-center justify-content-center">
                                <div class="button-container">
                               <a  class="btn" [class.btn-success]="feedback.archived" [class.btn-danger]="!feedback.archived">{{ feedback.archived ? 'Already Viewed' : 'Not Viewed' }}</a>
                                  <button type="button" class="btn btn-danger" [disabled]="feedback.archived" [ngClass]="{'disabled-button': feedback.archived}"(click)="deleteFeedback(feedback)">Delete</button>
                              </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Profile Details -->
          </div>
      </div>
  </div>
</div>
